.navbar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.navbar-grid :first-child {
  grid-row: 1;
  grid-column: 1 / 5;
}

.navbar-grid :last-child {
  grid-row: 1;
  grid-column: -3 / -1;
}

.navbar-grid h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

select,
input {
  max-width: calc(100% - 25px);
}
