@tailwind base;
@tailwind components;
@tailwind utilities;

nav h1 {
  -webkit-font-smoothing: none;
  font-family: "Pixelify Sans", sans-serif;
  text-shadow: 2px 2px 2px 2px rgba(255, 255, 0, 0.3);
}

.color-fg-default {
  color: #f00;
}

html.dark {
  color: white;
  background: black;
}

.fill-available {
  max-width: -webkit-fill-available;
}
